/* Additional styles come here */
.success
        {
            color: #006400;
            padding: 0px;
            margin: 0px;
            font-weight: bold;
        }
        .fail
        {
            color: #ff3333;
            padding: 0px;
            margin: 0px;
            font-weight: bold;
        }